<div class="developer">
  <a class="logo" href="http://www.monsterhunterworld.com/">&nbsp;</a>
  <a href="http://www.monsterhunterworld.com/">Monster Hunter &amp; art</a> by <a href="http://www.capcom.com/">Capcom</a>
</div>
<div class="creator">
  
  guide by <a href="https://twitter.com/emazo">emazo</a>
  <a class="logo" href="https://twitter.com/emazo">&nbsp;</a>
  </div>
