<div class="developer">
  <a class="logo" href="http://www.monsterhunterworld.com/" aria-label="Monster Hunter World">&nbsp;</a>
  <a href="http://www.monsterhunterworld.com/" aria-label="Monster Hunter World">Monster Hunter &amp; art</a> by <a href="http://www.capcom.com/"  aria-label="Capcom">Capcom</a>
</div>
<div class="creator">
  
  guide by <a href="https://twitter.com/emazo" aria-label="Twitter">emazo</a>
  <a class="logo" href="https://twitter.com/emazo" aria-label="Twitter">&nbsp;</a>
  </div>
