<button class="menu" aria-hidden="true">
  <i class="fas fa-paw"></i>
</button>
<h1 class="title">
  Hunter's Field Guide
</h1>
{{search-filter 
  searchTerm=(readonly searchTerm) 
  actionSearch=(action actionSearch)
  }}