<button class="{{classNamesButton}}" aria-hidden="true" {{action actionButton}}>
    <i class="fas fa-paw"></i>
</button>
<h1 class="title">
  Hunter's Field Guide
</h1>
{{search-filter 
  sidePanelIsOpen=sidePanelIsOpen
  searchTerm=(readonly searchTerm) 
  actionSearch=(action actionSearch)}}
  