<h2>{{monster.name}}</h2>
<h3>{{monster.species.name}}</h3>
<div class="logo">
</div>
{{status-grid physiology=monster.physiology}}
<div>
  inflicts:
  {{#each monster.ailments as |ailment|}}
    {{ailment-info ailment=ailment}}
  {{/each}}
</div>