<i class="search fas fa-search"></i>
{{input 
  placeholder="Monster"
  class="input"
  value=searchTerm 
  keyUp=(action "onKeyUp") 
  focusIn=(action "onFocusIn")
  focusOut=(action "onFocusOut")
  }}
<button class="{{closeBtnClassName}}" {{action 'clearSearch'}} aria-label="search">
  <i class="fas fa-times"></i>
</button>
