<button class="close" {{action 'clearSearch'}}><i class="fas fa-times"></i></button>
{{input placeholder="Monster or Species" value=searchTerm keyUp=(action "onKeyUp") class="input"}}
<button class="search"><i class="fas fa-search"></i></button>
