<button class="search" {{action 'activateSearch'}}>
  <i class="fas fa-search"></i>
</button>
{{input 
  placeholder="Monster"
  class="input"
  value=searchTerm 
  keyUp=(action "onKeyUp") 
  focusIn=(action "onFocusIn")
  focusOut=(action "onFocusOut")
  }}
<button class="{{closeBtnClassName}}" {{action 'clearSearch'}}>
  <i class="fas fa-times"></i>
</button>
