@import 'base/variables';
@import 'base/app-structure';

@import 'components/radio-icon';
@import 'components/update-item';
@import 'components/search-filter';
@import 'components/monster-row';
@import 'components/status-grid';
@import 'components/weakness-grid';
@import 'components/ailment-info';
@import 'components/status-rating';
@import 'components/monster-logo';

@import 'components/footer-nav';
@import 'components/header-nav';
@import 'components/side-panel';
@import 'app/settings';

.ember-application {
  background: $color-bg-main;
  color: $color-font-default;

  a {
    color: $color-font-sub;
    text-decoration: none;
  }
}
