/**
  * Styles for app structure and placement
  */

* {
  box-sizing: border-box;
  font-family: $font-default;
}

.monster-grid,
.ailment-row {
  display: flex;
}

.monster-list {
  padding: 0 0 0 5px;
}
