/**
  * Styles for app structure and placement
  */

* {
  box-sizing: border-box;
  font-family: $font-default;
}

.no-scroll {
  overflow: hidden;

  .container {
    overflow: hidden;
  }
}

.header-nav {
  align-items: center;
  display: flex;
  justify-content: space-between;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 50;

  .search-filter {
    flex-grow: 0;

    &.is-focused,
    &.has-content {
      flex-grow: 5;
      margin-left: 10px;
    }
  }

  .title {
    flex-grow: 3;
    overflow: hidden;
    text-align: center;
    transition: all $transition-duration;
    white-space: nowrap;
    width: 100%;
  }

  &.search-is-open {
    .title {
      flex-grow: 0;
      width: 0;
    }
  }
}

.side-panel {
  bottom: 0;
  left: 0%;
  position: fixed;
  top: 30px;
  transform: translateX(-100%);
  transition: transform $transition-duration-fast $transition-ease $transition-duration-slow;
  width: 100%;
  z-index: 45;

  &.is-open {
    transform: translateX(0%);
    transition: none;
  }

  .panel {
    bottom: 0;
    left: 0%;
    max-width: 400px;
    -webkit-overflow-scrolling: touch;
    overflow-y: auto;
    position: fixed;
    top: 0;
    transform: translateX(-100%);
    transition: transform $transition-duration-fast $transition-ease;
    width: 85%;
    z-index: 45;
  }

  .backdrop {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 44;
  }

  &.is-open {
    .panel {
      transform: translateX(0%);
    }

    .backdrop {
      opacity: 0.6;
    }
  }
}

.side-panel-tabs {
  display: flex;
  justify-content: space-between;
  left: 0;
  list-style-type: none;
  margin: 5px 0 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 46;
}

.container {
  bottom: 1px;
  left: 0;
  margin: 0;
  -webkit-overflow-scrolling: touch;
  overflow-y: auto;
  padding: 25px 8px 10px;
  position: fixed;
  right: 0;
  top: 25px;

  .monster-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0 0 0 5px;
  }

  .monster-row {
    width: 375px;
  }

  .monster-grid,
  .ailment-row {
    display: flex;
  }

  .ailment-row {
    flex-direction: column;
  }
}
