/******************************** App Variables */

/******************************** Colors */
$color-bg-main: #333;
$color-bg-main-alt: #444;
$color-bg-panel: #555;
$color-font-default: #aaa;
$color-font-sub: #777;
$color-font-break: #665;
$color-input-bg: #ccc;
$color-input-bg-sub: #555;

$transparent: transparent;

/******************************** Fonts */
$font-default: 'Cabin Condensed', sans-serif;

/******************************** Borders */
$border-radius: 3px;

/******************************** Animation */
$transition-duration: 0.5s;
$transition-duration-fast: 0.3s;
$transition-duration-slow: 0.8s;
$transition-duration-very-slow: 1s;
$transition-ease: cubic-bezier(0.42, 0, 0.58, 1);

/******************************** Shadows */
$shadow-default: 1px 1px 1px rgba(10, 10, 10, 0.5);
