/******************************** App Variables */

/******************************** Colors */
$color-bg-main: #333;
$color-font-default: #AAA;
$color-font-sub: #777;
$color-font-break: #665;

/******************************** Fonts */
$font-default: 'Cabin Condensed', sans-serif;

/******************************** Icon Images */
$img-blast: url('/images/icons/blast.svg');
$img-bleeding: url('/images/icons/bleeding.svg');
$img-fire: url('/images/icons/fire.svg');
$img-dragon: url('/images/icons/dragon.svg');
$img-effluvial: url('/images/icons/dragon.svg');
$img-ice: url('/images/icons/ice.svg');
$img-thunder: url('/images/icons/thunder.svg');
$img-paralysis: url('/images/icons/paralysis.svg');
$img-poison: url('/images/icons/poison.svg');
$img-sleep: url('/images/icons/sleep.svg');
$img-star: url('/images/icons/star.svg');
$img-star-x: url('/images/icons/star-x.svg');
$img-stun: url('/images/icons/stun.svg');
$img-water: url('/images/icons/water.svg');

/******************************** Monster Images */
$img-anjanath: url('/images/monsters/anjanath.svg');
$img-barroth: url('/images/monsters/barroth.svg');
