/******************************** App Variables */

/******************************** Colors */
$color-building-sprite-color: #FFF;
$color-building-canvas-bgcolor: #145B9A;
$color-building-menu-bgcolor: lighten($color-building-canvas-bgcolor, 10%);
$color-building-menu-bgcolor-hover: lighten($color-building-canvas-bgcolor, 20%);

/******************************** Fonts */
$font-default: 'Asap Condensed', sans-serif;
