<div class="footer-nav">
  <div class="developer">
    <a class="logo" href="http://www.monsterhunterworld.com/" aria-label="Monster Hunter World">&nbsp;</a>
    <a href="http://www.monsterhunterworld.com/" aria-label="Monster Hunter World">Monster Hunter &amp; art</a> by <a href="http://www.capcom.com/"  aria-label="Capcom">Capcom</a>
  </div>
  <div class="creator">
    
    guide by <a href="https://github.com/cyarbrough" aria-label="github">cyarbrough</a>
    <a class="logo" href="https://github.com/cyarbrough" aria-label="github">&nbsp;</a>
    </div>
</div>
