<ul class="side-panel-tabs">
  <li>
    <LinkTo
      class="is-tab is-updates"
      @route="app.updates" 
    >
      <i class="fas fa-arrow-alt-circle-left"></i>
    </LinkTo>
  </li>
  <li>
    <LinkTo
      class="is-tab"
      @route="app.help"
    >
      Help!
    </LinkTo>
  </li>
</ul>