/**
  * Styles for info-ailment component
  */

$ailment-list: bleeding
  blast
  dragon
  effluvial
  fire
  ice
  paralysis
  poison
  sleep
  stun
  thunder
  water
  weak-roar
  strong-roar;

@mixin ailment-imgs {
  @each $ailment in $ailment-list {
    &.is-ailment-#{$ailment} {
      background-image: url('/assets/images/icons/#{$ailment}.png');
    }
  }
}

.ailment-row {
  flex-grow: 2;
  margin: 5px 0 0;
  max-width: 175px;
}

.info-ailment {
  @include ailment-imgs();
  background: no-repeat left center;
  background-size: 22px;
  color: $color-font-sub;
  height: 24px;
  margin: 0 auto;
  padding: 5px 24px 0;
}
