/**
  * Styles for footer-nav component
  */

.footer-nav {
  margin-top: 120px;
  text-align: center;
  text-transform: lowercase;

  .creator {
    margin-top: 5px;

    .logo {
      $img-logo-dim: 75px;
      background: url('/assets/images/icons/palico.png') center center no-repeat;
      background-size: contain;
      display: block;
      height: $img-logo-dim;
      margin: 30px auto 10px;
      text-decoration: none;
      width: $img-logo-dim;
    }
  }

  .developer {
    .logo {
      $img-logo-dim: 75px;
      background: url('/assets/images/icons/guild.png') center center no-repeat;
      background-size: contain;
      display: block;
      height: $img-logo-dim;
      margin: 0 auto 10px;
      opacity: 0.5;
      text-decoration: none;
      width: $img-logo-dim;
    }
  }
}
