/**
  * Styles for header-nav component
  */

.header-nav {
  background: $color-bg-main;
  box-shadow: $shadow-default;

  .menu {
    background: transparent;
    border: 0;
    color: $color-input-bg;
    font-size: 1.15em;
    opacity: 0.5;
    padding: 0;
  }

  .title {
    font-size: 1.15em;
    font-weight: normal;
    margin: 0;
    padding: 0;
  }
}
