/**
  * Styles for header-nav component
  */

.header-nav {
  background: $color-bg-main;
  box-shadow: $shadow-default;
  padding: 3px 10px 2px 3px;

  .menu {
    background-color: $color-bg-main;
    border: 0;
    border-radius: $border-radius;
    color: $color-input-bg;
    font-size: 1.15em;
    min-height: 30px;
    opacity: 0.5;
    transition: all $transition-duration;

    &:focus {
      outline: none;
    }

    &.is-open {
      background-color: $color-bg-panel;
      opacity: 1;
    }

    &.has-alert {
      animation: menu-pulse $transition-duration-pulse infinite;
    }
  }

  .title {
    font-size: 1.15em;
    font-weight: normal;
    margin: 0;
    padding: 0;
    transition: opacity $transition-duration-fast;
  }

  &.side-panel-is-open {
    .title,
    .search-filter {
      opacity: 0.5;
    }
  }
}

@keyframes menu-pulse {
  35% {
    color: $color-input-bg;
    opacity: 0.5;
  }

  50% {
    color: $color-alert;
    opacity: 1;
  }

  60% {
    color: $color-input-bg;
    opacity: 0.5;
  }
}
