/**
  * Styles for monster-logo component
  */

$monster-list: anjanath 
  barroth
  bazelgeuse 
  diablos 
  black-diablos 
  deviljho
  dodogama 
  great-girros 
  great-jagras
  jyuratodus
  kirin
  kulu-ya-ku
  kulve-taroth
  kushala-daora
  lavasioth
  legiana
  lunastra
  nergigante
  odogaron
  paolumu
  pukei-pukei
  radobaan
  rathalos
  azure-rathalos
  rathian
  pink-rathian
  teostra
  tobi-kadachi
  tzitzi-ya-ku
  uragaan
  vaal-hazak
  xeno-jiiva
  zorah-magdaros;

@mixin monster-imgs {
  @each $monster in $monster-list {
    .is-#{$monster} {
      background-image: url('/assets/images/monsters/#{$monster}.png');
      transition: background-image $transition-duration-fast $transition-ease;

      &.is-alt {
        background-image: url('/assets/images/monsters/#{$monster}-alt.png');
      }
    }
  }
}

.monster-logo {
  background: no-repeat center top;
  background-size: contain;
  border: 0;
  flex-grow: 2;
  max-width: 175px;
  min-height: 140px;
  outline: none;
}

.is-active {
  @include monster-imgs();

  .is-lunastra {
    background-image: url('/assets/images/monsters/unknown.png');
  }
  
  .alt-view .is-anjanath {
    background-image: url('/assets/images/monsters/anjanath-alt.png');
  }
}
