/**
  * Styles for monster-logo component
  */

$monster-list: // acidic-glavenus
  anjanath
  azure-rathalos
  // banbaro
  // barioth
  barroth
  bazelgeuse 
  behemoth
  // beotodus
  black-diablos
  // blackveil-vaal-hazak
  // brachydios
  // brute-tigrex
  // coral-pukei-pukei
  diablos 
  deviljho
  dodogama
  // ebony-odogaron
  // fulgur-anjanath
  // glavenus
  great-girros 
  great-jagras
  // gold-rathian
  jyuratodus
  kirin
  kulu-ya-ku
  kulve-taroth
  kushala-daora
  lavasioth
  legiana
  leshen
  lunastra
  // namielle
  // nargacuga
  nergigante
  // nightshade-paolumu
  odogaron
  paolumu
  pink-rathian
  pukei-pukei
  radobaan
  rathalos
  rathian
  // ruiner-nergigante
  // savage-deviljho
  // scarred-yian-garuga
  // seething-bazelgeuse
  // shara-ishvalda
  // shrieking-legiana
  // silver-rathalos
  teostra
  // tigrex
  tobi-kadachi
  tzitzi-ya-ku
  uragaan
  vaal-hazak
  // velkhana
  // viper-tobi-kadachi
  xeno-jiiva
  // yian-garuga
  // zinogre
  zorah-magdaros;

@mixin monster-imgs {
  @each $monster in $monster-list {
    .is-#{$monster} {
      background-image: url('/assets/images/monsters/#{$monster}.png');

      &.is-alt {
        background-image: url('/assets/images/monsters/#{$monster}-alt.png');
      }
    }
  }
}

.monster-logo {
  background: no-repeat center top;
  background-image: url('/assets/images/monsters/unknown.png');
  background-size: contain;
  border: 3px solid transparent;
  border-radius: $border-radius $border-radius 0 0;
  flex-grow: 2;
  margin: 0;
  max-width: 175px;
  min-height: 140px;
  outline: none;
  position: relative;
  transition: background-image $transition-duration-fast $transition-ease 0.05s, background-color $transition-duration-fast $transition-ease 0.05s, border-color $transition-duration-fast $transition-ease;
  z-index: 10;

  &.is-hidden {
    height: 0;
    min-height: 0;
    padding: 0;
    position: absolute;
    visibility: hidden;
    width: 0;
    z-index: 0;
  }

  &.is-alt {
    background-color: $color-bg-main-alt;
    border-color: $color-bg-main-alt;
    transition: background-image $transition-duration-fast $transition-ease, background-color $transition-duration-fast $transition-ease, border-color $transition-duration-fast $transition-ease 0.5s;
  }
}

.is-active {
  @include monster-imgs();
}
