/**
  * Styles for monster-logo component
  */

.monster-logo {
  background: no-repeat center top;
  background-size: contain;
  flex-grow: 2;
  max-width: 175px;
  min-height: 130px;

  &.is-anjanath {
    background-image: $img-anjanath;
  }

  &.is-barroth {
    background-image: $img-barroth;
  }
}
