/**
  * Styles for search-filter component
  */

.search-filter {
  background: $color-input-bg;
  border: 0;
  border-radius: 5px;
  display: flex;
  padding: 1px 5px;

  input,
  button {
    background: transparent;

    &:focus {
      outline: none;
    }
  }

  .input {
    border: 0;
    color: $color-bg-main;
    flex-grow: 3;
    font-size: normal;
    font-size: 1.1em;
    width: 100%;
  }

  .close,
  .search {
    $btn-size: 30px;
    background: transparent;
    border: 0;
    cursor: pointer;
    height: $btn-size;
    opacity: 0.5;
    width: $btn-size;
  }

  .close {
    margin-left: -5px;
  }
}
