/**
  * Styles for search-filter component
  */

.search-filter {
  $btn-size: 30px;
  background: transparent;
  border: 0;
  border-radius: 5px;
  overflow: hidden;
  padding: 0;
  position: relative;
  transition: all $transition-duration-slow;
  width: 35px;

  input,
  button {
    background: transparent;

    &:focus {
      outline: none;
    }
  }

  button {
    border: 0;
  }

  .input {
    border: 0;
    color: $color-input-bg;
    flex-grow: 3;
    font-size: 1.1em;
    font-weight: normal;
    height: $btn-size;
    min-width: $btn-size;
    opacity: 0;
    padding: 0 0 0 $btn-size;
    position: relative;
    transition: all $transition-duration;
    width: 100%;
    z-index: 10;
  }

  .close,
  .search {
    border: 0;
    color: $color-input-bg;
    cursor: pointer;
    font-size: 0.95em;
    height: $btn-size;
    left: 0;
    opacity: 0.5;
    padding: 0;
    position: absolute;
    top: 0;
    transition: all $transition-duration;
    z-index: 5;
  }

  .search {
    margin: 0 5px;
    padding-left: 2px;
  }

  .close {
    left: auto;
    opacity: 0;
    right: 0;
    visibility: hidden;
    width: $btn-size;
    z-index: 15;

    &.is-shown {
      opacity: 0.75;
    }
  }

  &.has-content {
    .input,
    .close,
    .search {
      color: $color-input-bg;
      opacity: 0.75;
    }

    .close {
      visibility: visible;
    }
  }

  &.is-focused {
    background: $color-input-bg;

    .input {
      color: $color-bg-main;
      margin-left: 0;
      opacity: 1;
    }

    .close,
    .search {
      color: $color-bg-main;
      opacity: 0.75;
    }
  }
}
