/**
  * Styles for status-grid component
  */

.status-grid {
  display: none;
  min-width: 200px;

  &.is-visible {
    display: flex;
  }

  .element-grid,
  .ailment-grid {
    display: inline-block;
    flex-grow: 1;
    margin: 5px 0 0;
  }
}
