/**
  * Styles for status-grid component
  */

.status-grid {
  display: flex;
  min-width: 200px;
  opacity: 1;
  padding: 0 0 5px 5px;
  transition: opacity $transition-duration $transition-ease;

  .element-grid,
  .ailment-grid {
    display: inline-block;
    flex-grow: 1;
    margin: 5px 0 0;
  }
}

.is-open {
  .status-grid {
    opacity: 0.4;
  }
}
