/**
  * Styles for status-grid component
  */

.status-grid {
  display: flex;
  min-width: 200px;

  .element-grid,
  .ailment-grid {
    display: inline-block;
    flex-grow: 1;
    margin: 5px 0 0;
  }
}
