/**
  * Styles for status rating component
  */

$status-list: blast
  dragon
  fire
  ice
  paralysis
  poison
  sleep
  stun
  thunder
  water
  ammo
  blunt
  cut;

@mixin status-imgs {
  @each $status in $status-list {
    &.is-status-#{$status} {
      background-image: url('/assets/images/icons/#{$status}.png');
    }
  }
}

.status-rating {
  $icon-size: 22px;
  @include status-imgs();
  background: no-repeat left center;
  background-size: $icon-size;
  font-size: 0;
  height: $icon-size;
  margin: 4px 0;
  min-width: $icon-size * 3;
  overflow: hidden;
  padding-left: $icon-size;
  white-space: nowrap;

  &.is-rating-1 {
    opacity: 0.33;
  }

  &.is-rating-2 {
    opacity: 0.66;
  }

  &.is-rating-0,
  &.is-rating-3 {
    opacity: 1;
  }

  .star-rating {
    $icon-star-dim: 20px;
    background: url('/assets/images/icons/star.png') no-repeat left center;
    background-size: $icon-star-dim;
    display: inline-block;
    height: $icon-star-dim;
    margin: 0 -7px 0 0;
    overflow: hidden;
    position: relative;
    text-indent: $icon-star-dim * 2;
    vertical-align: bottom;
    width: $icon-star-dim;

    &.is-star-x {
      background-image: url('/assets/images/icons/star-x.png');
      margin-top: 1px;
    }

    &.is-star-1 {
      z-index: 3;
    }

    &.is-star-2 {
      z-index: 2;
    }

    &.is-star-3 {
      z-index: 1;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  .is-rating,
  .is-alt-rating {
    display: inline-block;
    position: relative;
  }

  .is-alt-rating {
    margin-left: 1px;
    padding: 0 3px;

    &::after,
    &::before {
      content: '(';
      display: block;
      font-size: 17px;
      left: 0;
      position: absolute;
      top: 0;
    }

    &::after {
      content: ')';
      left: auto;
      right: 0;
    }
  }
}
