/**
  * Styles for update-item component
  */
.update-item {
  .date {
    border-bottom: 1px solid $color-font-sub;
    color: $color-font-sub;
    font-style: italic;
    padding-right: 5px;
    text-align: right;
    vertical-align: bottom;
    width: 20%;
  }

  .note {
    border-bottom: 1px dashed $color-font-sub;
    padding: 10px 0 0 5px;
  }
}

.update-table {
  font-size: 0.9em;
  width: 100%;
}
