/**
  * Styles for weakness-grid component
  */

.weakness-grid {
  background-color: $color-bg-main-alt;
  border-radius: 0 $border-radius $border-radius $border-radius;
  display: flex;
  margin: 0 0 10px;
  min-width: 200px;
  padding: 5px 10px;
  position: relative;
  transition: line-height $transition-duration $transition-ease;
  z-index: 5;
  
  .grid-item {
    display: inline-block;
    flex-grow: 0;
    margin: 5px 0 0;
    min-width: 25%;

    &:first-child,
    &:last-child {
      flex-grow: 0;
    }
  }

  .title {
    display: block;
    margin: 0;
    padding: 0 0 2px;
    width: auto;

    .subtitle {
      display: block;
      font-size: 13px;
      font-style: italic;
    }
  }
}
