/**
  * Styles for help route
  */

.help {
  padding: 0 5px;

  .title,
  .subtitle {
    margin-left: 0;
  }

  p {
    margin-top: 5px;
    padding-left: 8px;
  }
}

.status-legend {
  border: 1px solid $color-font-sub;
  margin-bottom: 30px;
  padding: 15px;

  legend {
    color: $color-font-sup;
    font-size: 1.1em;
    font-weight: bold;
    padding: 0 10px;
  }

  .weakness-grid {
    justify-content: space-around;
    margin: 10px 0 0;
  }
}

.tip-list {
  color: $color-font-default;
  margin: 0;
  padding: 0 0 0 20px;

  li {
    margin: 0;
    padding: 0 0 15px;
  }

  .sub-list {
    list-style-type: none;
    margin: 0;
    padding: 5px 0 5px 10px;

    li {
      padding: 0;
    }
  }
}

.blight-warning {
  margin: 0 0 15px;

  .info-ailment {
    color: $color-font-default;
  }
}

.stun-warning {
  font-style: italic;
  text-transform: capitalize;

  .status-rating {
    display: inline-block;
    margin: 0;
    min-width: 25px;
    vertical-align: bottom;

    .is-text {
      display: none;
    }
  }
}

.monster-weakness {
  .monster-logos {
    display: flex;
    justify-content: space-around;
    margin: 10px 0 0;
  }

  .monster-logo {
    background-color: $transparent;
    border: 0;
    max-width: 40%;
    min-height: 115px;
  }
}
