/**
  * Styles for Settings form
  */

.settings {
  border: 1px solid $color-font-sub;
  margin-bottom: 30px;
  padding: 15px;

  legend {
    font-size: 1.1em;
    font-weight: bold;
    padding: 0 10px;
  }
}

.sort-radios {
  align-content: center;
  display: flex;

  .items {
    align-content: center;
    display: flex;

    label {
      margin-left: 10px;
    }
  }
}
