{{header-nav 
  searchTerm=(readonly searchTerm) 
  actionSearch=(action "updateSearchTerm")
}}
<div class="container">
  {{outlet}}
  <div class="monster-list">
    {{#each monsterList as |monster|}}
      {{monster-row monster=monster logEvent=(action 'logEvent')}}
    {{/each}}
  </div>
</div>
{{footer-nav}}