<h1>Hunter's Guide</h1>
{{search-filter searchTerm=(readonly searchTerm) actionSearch=(action "updateSearchTerm")}}
{{outlet}}
<div class="monster-list">
  {{#each monsterList as |monster|}}
    {{monster-row monster=monster}}
  {{/each}}
</div>
{{footer-nav}}